.contador{
    border:solid;
    border-color: #ffe045;
    margin: auto;
    padding: 10px;
    justify-content: space-between;

}

h4{
    text-decoration: #f752e0;
    font-family: 'Courier New', Courier, monospace;
}

.pluscarrito{
    margin: 30px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}