*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    z-index: 9;
}

.nav{
    padding: 10px 10vw;
    display: flex;
}

.navlogo{
    object-fit: contain;
    width: 8%;
}

.navitems{
    display: flex;
    
}

ul,li,a{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.searchbox{
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    height: 20px;
}

